.crm-dashboard {

    .badge-container {
        .clearfix();
        margin-top: 15px;

        .badge-aqua {
            background-color: #00c0ef;
        }

        .badge-green {
            background-color: #00a65a;
        }

        .badge-red {
            background-color: #f56954;
        }

        .badge-wrap {
            float: left;
            width: 25%;
            color: #fff;
            margin-right: 10px;

            .badge-inner {
                padding: 15px 0 0 15px;
            }

            h3 {
                color: #fff;
                font-size: 34px;
                margin: 10px 0 20px 0;
            }

            .badge-footer {
                text-align: center;
                background: rgba(0, 0, 0, 0.15);
                padding: 5px 0;

                &:hover {
                    background: rgba(0, 0, 0, 0.3);
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
}

// single ERP leads view
.erp-leads-single {

    .erp-user-info {
        h3 {
            margin: 15px 0;

            span.company {
                font-weight: normal;
            }
        }
    }
}