.crm-dashboard {

    .badge-container {
        .clearfix();
        margin-top: 15px;

        .badge-aqua {
            background-color: #00c0ef;
        }

        .badge-green {
            background-color: #00a65a;
        }

        .badge-red {
            background-color: #f56954;
        }

        .badge-wrap {
            float: left;
            width: 25%;
            color: #fff;
            margin-right: 10px;

            .badge-inner {
                padding: 15px 0 0 15px;
            }

            h3 {
                color: #fff;
                font-size: 34px;
                margin: 10px 0 20px 0;
            }

            .badge-footer {
                text-align: center;
                background: rgba(0, 0, 0, 0.15);
                padding: 5px 0;

                &:hover {
                    background: rgba(0, 0, 0, 0.3);
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
}

// single ERP leads view
.erp-leads-single {

    .erp-user-info {
        h3 {
            margin: 15px 0;

            span.company {
                font-weight: normal;
            }
        }
    }
}

.erp-customer-form {

    fieldset.genaral-info {
        li {
            margin-top: 7px;
        }
    }

    .erp_form_generic();
}

.erp-crm-customer {

    table.wp-list-table {

        .column-name {
            img {
                float: left;
                margin-right: 10px;
                margin-top: 1px;
            }
        }

        .column-balance {
            width: 8%;
        }

        .column-status {
            width: 8%;
        }

        .column-comments {
            width: 25%;
        }
    }
}

.erp-single-customer {

    .erp-single-customer-content {

        .postbox {
            .erp-handlediv {
                float: right;
                width: 36px;
                height: 36px;
                padding: 0;

                &:before {
                    content: '\f142';
                    right: 12px;
                    font: 400 20px/1 dashicons;
                    speak: none;
                    display: inline-block;
                    padding: 8px 10px;
                    top: 0;
                    position: relative;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-decoration: none!important;
                }
            }

            .erp-hndle {
                font-size: 14px;
                padding: 8px 12px;
                margin: 0;
                line-height: 1.4;
                cursor: pointer;
                border-bottom: 1px solid #eee;
            }

            &.closed {
                .erp-hndle {
                    border-bottom: none;
                }
            }
        }

        .customer-image-wraper {
            background:#FFF;
            margin-bottom: 20px;

            .details {
                padding-left: 20px;

                h3 {
                    margin-top: 5px;
                    margin-bottom: 15px;
                }

                p {
                    margin:7px 0px;
                }
            }

        }

        .customer-company-info {

            .company-profile-content {

                .postbox {
                    .action {
                        position: absolute;
                        top: 12px;
                        right:40px;

                        .fa {
                            font-size: 13px;
                            color: #222;
                            margin-left: 3px;
                        }
                    }

                    .erp-hndle {
                        .customer-name {
                            position: relative;
                            top:-5px;
                            left:5px;

                            a {
                                text-decoration: none;
                                color: #222;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /**
     * Erp Single customer
     * feeds styles
     */
    .erp-customer-feeds {

        .activity-form {
            background:#fff;

            ul.nav-item {

                background: #32373C;
                border: 1px solid #3a4042;
                box-shadow: 1px -1px 4px 0 rgba(0,0,0,0.15),inset 1px 1px 1px 0 rgba(255,255,255,0.15);
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    display: inline-block;
                    position: relative;
                    list-style: none;
                    margin:0px;
                    border-right: 1px solid #484f51;

                    &.active {
                        background: #191E23;
                        position: relative;
                        color: white;
                        text-shadow: 0 1px 2px #212425;
                        border-color: black;
                    }

                    .fa {
                        font-size: 11px;
                        margin-right: 3px;
                    }

                    a {
                        display: inline-block;
                        color: #fafafa;
                        font-weight: 700;
                        opacity: 1;
                        height: 100%;
                        margin: 0;
                        text-decoration: none;
                        text-align: center;
                        padding: 12px;
                    }
                }
            }

            .nav-content {
                padding: 10px;

                .submit-action {
                    padding-top:10px;
                    border-top:1px solid #eee;
                }

                #email {
                    p {
                        margin: 0px;
                        border-bottom: 1px solid #eee;
                        padding: 8px 0px;
                        font-weight: bold;

                        label {
                            min-width: 12%;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        span.sep {
                            width: 15px;
                            display: inline-block;
                        }

                        &.email-subject {
                            input {
                                border:none;
                                box-shadow: none;
                                transition:none;

                                &:focus {
                                    outline:none;
                                }

                                &::-webkit-input-placeholder {
                                   font-style: italic;
                                   font-weight: normal;
                                }
                                &:-moz-placeholder {
                                   font-style: italic;
                                   font-weight: normal;
                                }
                                &::-moz-placeholder {
                                   font-style: italic;
                                   font-weight: normal;
                                }
                                &:-ms-input-placeholder {
                                   font-style: italic;
                                   font-weight: normal;
                                }
                            }
                        }
                    }
                }

                #log-activity {
                     p {
                        margin: 0px;
                        border-bottom: 1px solid #eee;
                        padding: 8px 0px;
                    }
                }
            }
        }

        .activity-content {

            .no-activity-found {
                width: 100%;
                font-weight: bold;
                padding: 20px 12px;
                display: inline-block;
                background-color: #fff;
                border-radius: 2px;
                border-left: 3px solid #DEDEDE;
            }

            margin: 30px 0px;

            /*
             * Component: Timeline
             * -------------------
             */
            .timeline {
                position: relative;
                margin: 0 0 30px 0;
                padding: 0;
                list-style: none;
            }
            .timeline:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 3px;
                background: #DEDEDE;
                left: 31px;
                margin: 0;
                border-radius: 2px;
            }

            .timeline > li {
                position: relative;
                margin-right: 10px;
                margin-bottom: 20px;
            }
            .timeline > li:before,
            .timeline > li:after {
                content: " ";
                display: table;
            }
            .timeline > li:after {
                content: " ";
                clear: both;
            }

            .timeline > li.time-label:before {
                width: 80%;
                position: relative;
                top: 15px;
                z-index: 1;
                left: 19%;
                clear: both;
                border:1px dotted #ddd;
            }
            .timeline > li > .timeline-item {
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                margin-top: 0;
                background: #fff;
                color: #444;
                margin-left: 60px;
                padding: 0;
                position: relative;
            }
            .timeline > li > .timeline-item > .time {
                color: #999;
                float: right;
                padding: 10px;
                font-size: 12px;
            }
            .timeline > li > .timeline-item > .timeline-header {
                margin: 0;
                color: #555;
                border-bottom: 1px solid #f4f4f4;
                padding: 10px;
                font-size: 12px;
                line-height: 1.1;
            }

            .timeline > li > .timeline-item > .timeline-header > span.timeline-feed-header-text {
                display: inline-block;
                position: relative;
                top: -5px;
            }

            .timeline > li > .timeline-item > .timeline-header > span.timeline-feed-header-text strong {
                color: #0073aa;
            }

            .timeline > li > .timeline-item > .timeline-header > .timeline-feed-avatar img{
                width: 17px;
                height: 100%;
                margin-right: 6px;
            }
            .timeline > li > .timeline-item > .timeline-header > a {
                font-weight: 600;
                text-decoration: none;
            }
            .timeline > li > .timeline-item > .timeline-body,
            .timeline > li > .timeline-item > .timeline-footer {
                padding: 10px;
            }

            .timeline > li > .timeline-item > .timeline-footer {
                box-shadow: -1px 1px 4px 0 #e6e6e6;
                transition: all 0.2s ease;
                background: #fafafa;
                border: 1px solid #e9eced;
                z-index: 1;
            }

            .timeline > li > .timeline-item > .timeline-body .timeline-email-subject {
                padding: 0px 0px 10px;
                border-bottom: 1px solid #eee;
                margin-bottom: 10px;
                font-style: italic;
            }

            .timeline > li > .timeline-item > .timeline-body .timeline-email-body {

            }

            .timeline > li > .timeline-item > .timeline-footer a {
                text-decoration: none;
            }

            .timeline > li > .fa,
            .timeline > li > .glyphicon,
            .timeline > li > .ion {
                width: 30px;
                height: 30px;
                font-size: 15px;
                line-height: 30px;
                position: absolute;
                color: #fafafa;
                background: #dfdfdf;
                border-radius: 50%;
                text-align: center;
                left: 18px;
                top: 0;
            }
            .timeline > .time-label > span {
                font-weight: bold;
                padding: 6px 8px;
                display: inline-block;
                background-color: #fff;
                border-radius: 2px;
                border-left: 3px solid #DEDEDE;
            }
            .timeline-inverse > li > .timeline-item {
                background: #f0f0f0;
                border: 1px solid #ddd;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .timeline-inverse > li > .timeline-item > .timeline-header {
                border-bottom-color: #ddd;
            }
        }
    }
}

.erp-crm-customer-feed-edit-wrapper {
    p {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;

        input {
            margin-left: 15px;
        }
    }
}






























