.hrm-dashboard {
    .badge-container {
        .clearfix();

        .badge-wrap {
            float: left;
            width: 32%;
            // color: #fff;
            margin-right: 10px;
            background: #fff;

            .badge-inner {
                padding: 15px 0 0 15px;
            }

            h3 {
                // color: #fff;
                font-size: 34px;
                margin: 10px 0 20px 0;
            }

            .badge-footer {
                text-align: center;
                padding: 5px 0;

                &:hover {
                    background: rgba(0, 0, 0, 0.5);
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }
}