body {
    background: #F5F5F5;
}

[class*='flaticon'] {
    &:before {
        margin-left: 0;
        font-size: inherit;
        color: @icon-color;
    }
}

.dismiss-bulk-action:hover {
    i:before {
        color: @primary-color;
    }
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}

.text-center {
    text-align: center !important;
}



// layout
.wperp-has-border-top {
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}

.separator {
    margin: 20px 0;

    &-top {
        margin-top: 20px;
    }

    &-bottom {
        margin-bottom: 20px;
    }
}

/*.flaticon-trash {
    color: #E9485E !important;
}*/
.flaticon-import {
    color: @icon-color  !important;
    font-size: 12px;
}


// Header Section
.content-header-section {
    .wperp-row {
        margin-left: 0;
        margin-right: 0;


        .wperp-col {
            display: flex;

            .content-header__title {
                margin-bottom: 0;
            }

            .wperp-btn {
                display: inline-table;
            }

            @media (max-width: @screen-xs-max) {
                display: block;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .content-header__title {
        margin-right: 20px;
        display: inline-block;
        font-size: 23px;
        font-weight: 400;
    }

    .crm-contact-search {
        @media (max-width: @screen-xs) {
            display: block;

            &>div {
                width: 100% !important;
                margin: 0 0 10px;
            }
        }

        .input-icon {
            width: 180px;
            margin-right: 12px;
        }
    }
}

.subsubsub-all {
    &:before {
        content: "\f10c";
        font-family: 'Flaticon';
    }
}


.import-export-box {
    border: 1px solid @border-color;
    display: inline-block;
    .rounded(3px);

    a {
        padding: 3.5px 7px;
        display: inline-block;
        font-size: 14px;
        color: #B8C1C1;
        .transition(all .2s);

        &:last-child {
            border-left: 1px solid @border-color;
        }

        &:hover {
            color: @theme-color;
        }

        i {
            /*font-size: inherit;*/

            &.flaticon-download {
                font-size: 16px;
            }
        }
    }
}

.edit-badge {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #D7DEE2;
    cursor: pointer;

    i:before {
        color: #fff;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 782px) {
    .wrap {
        margin-right: 12px !important;
        margin-left: 0;
    }
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-5 {
    padding-top: 5 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-5 {
    padding-bottom: 5 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-5 {
    padding-left: 5 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}


.border-0 {
    border: 0 !important;
}

.bl-0 {
    border-left: 0 !important;
}

.br-0 {
    border-right: 0 !important;
}

.bt-0 {
    border-top: 0 !important;
}

.bb-0 {
    border-bottom: 0 !important;
}


// Background color classes

.@{theme-prefix}-bg {
    &-white {
        background-color: @white  !important;
    }
}

// pull
.@{theme-prefix}-pull-right {
    float: right;
}


// list

.@{theme-prefix}-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-table-content {
    color: @table-content-color;

    li {
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
        position: relative;

        &:first-child {
            padding-top: 0;
        }

        &.total {
            border-top: 1px solid @border-color;
            font-size: 14px;
            margin-top: 19px;
            padding-top: 20px
        }
    }

    &--border li {
        border-bottom: 1px solid @border-color;
    }

    &--bg-space {
        margin-bottom: 27px !important;

        li {
            padding: 26px 0;

            &:first-child {
                padding-top: 6px;
            }
        }
    }
}


.bank-accounts-section {
    .panel-badge {
        font-size: 14px;
        line-height: 1;

        i {
            font-size: 16px;
            line-height: 1;
        }
    }

    .list-table-content li {
        i {
            display: none;
            cursor: pointer;

            &:before {
                .transition(all .2s);
            }
        }

        .flaticon-menu-1 {
            font-size: 11px;
            margin-right: 17px;

            &:hover:before {
                color: @theme-color;
            }
        }

        .flaticon-trash {
            margin-left: 15px;

            &:hover:before {
                color: #E9485E;
            }
        }
    }

    &.open-edit {
        .list-table-content li {
            i {
                display: inline;
            }

            a {
                pointer-events: none;
                color: @table-content-color;
            }

        }

        .wperp-btn {
            display: none;
        }
    }
}

.bank-accounts-total {
    font-size: 14px;
    color: @table-content-color;
    display: flex;
    justify-content: space-between;
}


.wperp-account-chart-table {
    .wperp-width-60 {
        width: 60%;
    }
}
