    /*
    Flaticon icon font: Flaticon
    Creation date: 05/12/2018 09:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-menu:before { content: "\f100"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f101"; }
.flaticon-magnifying-glass:before { content: "\f102"; }
.flaticon-arrow-point-to-right:before { content: "\f103"; }
.flaticon-search-segment:before { content: "\f104"; }
.flaticon-edit:before { content: "\f105"; }
.flaticon-quick-edit:before { content: "\f106"; }
.flaticon-user:before { content: "\f107"; }
.flaticon-download:before { content: "\f108"; }
.flaticon-import:before { content: "\f109"; }
.flaticon-add-plus-button:before { content: "\f10a"; }
.flaticon-move:before { content: "\f10b"; }
.flaticon-arrow-right:before { content: "\f10c"; }
.flaticon-arrow-up:before { content: "\f10d"; }
.flaticon-trash:before { content: "\f10e"; }
.flaticon-leader:before { content: "\f10f"; }
.flaticon-opportunity:before { content: "\f110"; }
.flaticon-check:before { content: "\f111"; }
.flaticon-eye-close-up:before { content: "\f112"; }
.flaticon-printer:before { content: "\f113"; }
.flaticon-sent-mail:before { content: "\f114"; }
.flaticon-alarm-clock:before { content: "\f115"; }
.flaticon-share:before { content: "\f116"; }
.flaticon-link-symbol:before { content: "\f117"; }
.flaticon-copy-content:before { content: "\f118"; }
.flaticon-delete:before { content: "\f119"; }
.flaticon-filter-tool-black-shape:before { content: "\f11a"; }
.flaticon-calendar:before { content: "\f11b"; }
.flaticon-printer-1:before { content: "\f11c"; }
.flaticon-settings-work-tool:before { content: "\f11d"; }
    
    $font-Flaticon-menu: "\f100";
    $font-Flaticon-arrow-down-sign-to-navigate: "\f101";
    $font-Flaticon-magnifying-glass: "\f102";
    $font-Flaticon-arrow-point-to-right: "\f103";
    $font-Flaticon-search-segment: "\f104";
    $font-Flaticon-edit: "\f105";
    $font-Flaticon-quick-edit: "\f106";
    $font-Flaticon-user: "\f107";
    $font-Flaticon-download: "\f108";
    $font-Flaticon-import: "\f109";
    $font-Flaticon-add-plus-button: "\f10a";
    $font-Flaticon-move: "\f10b";
    $font-Flaticon-arrow-right: "\f10c";
    $font-Flaticon-arrow-up: "\f10d";
    $font-Flaticon-trash: "\f10e";
    $font-Flaticon-leader: "\f10f";
    $font-Flaticon-opportunity: "\f110";
    $font-Flaticon-check: "\f111";
    $font-Flaticon-eye-close-up: "\f112";
    $font-Flaticon-printer: "\f113";
    $font-Flaticon-sent-mail: "\f114";
    $font-Flaticon-alarm-clock: "\f115";
    $font-Flaticon-share: "\f116";
    $font-Flaticon-link-symbol: "\f117";
    $font-Flaticon-copy-content: "\f118";
    $font-Flaticon-delete: "\f119";
    $font-Flaticon-filter-tool-black-shape: "\f11a";
    $font-Flaticon-calendar: "\f11b";
    $font-Flaticon-printer-1: "\f11c";
    $font-Flaticon-settings-work-tool: "\f11d";