.erp.accounting-dashboard .erp-single-container .erp-area-left,
.erp.accounting-dashboard .erp-single-container .erp-area-right {
  width: 49%;
}
.erp.accounting-dashboard .erp-single-container .erp-area-left {
  margin-right: 2%;
}
.erp.accounting-dashboard .postbox a {
  text-decoration: none;
}
.erp.accounting-dashboard .postbox #income-expense-chart {
  position: relative;
  margin: 0 auto;
}
.erp.accounting-dashboard .postbox.bank-balance .inside {
  padding-bottom: 0;
  margin-bottom: 0;
}
.erp.accounting-dashboard .postbox.bank-balance ul {
  margin-bottom: 0;
}
.erp.accounting-dashboard .postbox.bank-balance li {
  margin-bottom: 6px;
  padding: 0 10px 5px 10px;
}
.erp.accounting-dashboard .postbox.bank-balance li.total {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  padding: 10px 12px 6px;
  color: #777;
  padding: 10px 20px 12px 20px;
  margin: 0 -12px 0 -12px;
  font-weight: bold;
}
.erp.accounting-dashboard .postbox.bank-balance span.price {
  float: right;
}
.erp.accounting-dashboard .postbox table {
  width: 100%;
  word-wrap: break-word;
  border-spacing: 0;
}
.erp.accounting-dashboard .postbox table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.erp.accounting-dashboard .postbox table td {
  padding: 8px 10px;
  vertical-align: top;
  color: #555;
  line-height: 1.5em;
  font-size: 13px;
}
.erp.accounting-dashboard .postbox table td.price {
  text-align: right;
}
.erp-accounting .payment-stat-chart {
  padding: 10px 20px 20px 20px;
  margin: 15px 0 20px 0;
  background-color: #f4f4f4;
  border: 1px solid #E6E6E6;
}
.erp-accounting .payment-metrics {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 120px;
  text-align: left;
  margin-top: 0;
  margin-right: 20px;
  padding-bottom: 30px;
}
.erp-accounting .payment-metrics span {
  color: #B6BCBE;
  padding-bottom: 15px;
  display: block;
  padding-left: 80px;
  text-transform: uppercase;
}
.erp-accounting .payment-metrics.single-metric {
  margin-top: 30px;
  padding-bottom: 0;
}
.erp-accounting .payment-metrics.single-metric span.value {
  font-size: 30px;
  color: #23282D;
}
.erp-accounting .payment-metrics #payment-received-stat,
.erp-accounting .payment-metrics #payment-status-stat {
  height: 120px;
  width: 100%;
}
.erp-accounting .payment-metrics .legend div {
  background-color: transparent !important;
}
.erp-accounting .payment-metrics .legend td.legendColorBox {
  vertical-align: top;
  padding-top: 5px;
}
.erp-accounting.chart-of-accounts table.ac-chart-table td.col-code,
.erp-accounting.chart-of-accounts table.ac-chart-table th.col-code {
  width: 5%;
}
.erp-accounting.chart-of-accounts table.ac-chart-table td.col-name,
.erp-accounting.chart-of-accounts table.ac-chart-table th.col-name {
  width: 45%;
}
.erp-accounting.chart-of-accounts table.ac-chart-table td.col-type,
.erp-accounting.chart-of-accounts table.ac-chart-table th.col-type {
  width: 25%;
}
table.erp-ac-transaction-table {
  margin: 20px 0 20px -16px;
  width: 100%;
  width: calc(100% + 32px);
  table-layout: fixed;
}
table.erp-ac-transaction-table td,
table.erp-ac-transaction-table th {
  overflow: hidden;
  border-top: none;
}
table.erp-ac-transaction-table td input,
table.erp-ac-transaction-table th input,
table.erp-ac-transaction-table td select,
table.erp-ac-transaction-table th select,
table.erp-ac-transaction-table td textarea,
table.erp-ac-transaction-table th textarea {
  width: 100%;
}
table.erp-ac-transaction-table th.col-unit-price,
table.erp-ac-transaction-table th.col-amount,
table.erp-ac-transaction-table td.col-unit-price,
table.erp-ac-transaction-table td.col-amount {
  width: 120px;
}
table.erp-ac-transaction-table th.col-unit-price input,
table.erp-ac-transaction-table th.col-amount input,
table.erp-ac-transaction-table td.col-unit-price input,
table.erp-ac-transaction-table td.col-amount input {
  text-align: right;
}
table.erp-ac-transaction-table th.col-qty,
table.erp-ac-transaction-table td.col-qty {
  width: 50px;
}
table.erp-ac-transaction-table th.col-action,
table.erp-ac-transaction-table td.col-action {
  width: 50px;
  padding: 8px 0;
}
table.erp-ac-transaction-table th.col-action a,
table.erp-ac-transaction-table td.col-action a {
  color: #ccc;
  text-decoration: none;
}
table.erp-ac-transaction-table th.col-action a.move-row,
table.erp-ac-transaction-table td.col-action a.move-row {
  cursor: move;
}
table.erp-ac-transaction-table th.col-discount,
table.erp-ac-transaction-table td.col-discount {
  width: 85px;
}
table.erp-ac-transaction-table th:first-child,
table.erp-ac-transaction-table td:first-child {
  padding-left: 15px;
}
table.vendor-list-table td.column-customer,
table.vendor-list-table th.column-customer {
  width: 35%;
}
table.vendor-list-table td.column-customer img,
table.vendor-list-table th.column-customer img {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}
.erp-ac-attachment-field .erp-ac-attachment-wrap {
  background: url('../images/attachment.png') 5px 10px no-repeat;
  border: 1px dashed #DDD;
  float: left;
  width: 30%;
  padding: 10px 10px 10px 30px;
  color: #999;
  position: relative;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 10px;
}
.bank-accounts {
  margin-top: 15px;
}
.bank-accounts .bank-account h3 {
  margin: 10px 0;
  padding: 0 10px 5px 10px;
}
.bank-accounts .bank-account h3 .pull-right {
  float: right;
}
.erp-ac-journal-entry table.journal-table thead th {
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 10px;
}
.erp-ac-journal-entry table.journal-table th {
  text-align: left;
}
.erp-ac-journal-entry table.journal-table th.invalid {
  color: red;
}
.invoice-preview-wrap {
  padding: 20px;
  background-color: #fff;
  max-width: 800px;
  margin-top: 30px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.invoice-preview-wrap .invoice-buttons {
  background-color: #F1F1F1;
  margin: -20px -20px 20px -20px;
  border-bottom: 1px solid #E5E5E5;
  padding: 15px;
}
.invoice-preview-wrap hr {
  border-bottom: none;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.invoice-preview-wrap .invoice-number {
  float: right;
  padding: 8px 20px;
  background-color: #eee;
  margin: -20px 0 20px 0;
  text-transform: uppercase;
}
.invoice-preview-wrap .table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.invoice-preview-wrap .table td,
.invoice-preview-wrap .table th {
  vertical-align: middle;
  padding: 12px;
}
.invoice-preview-wrap .table td.product-name,
.invoice-preview-wrap .table th.product-name {
  width: 30%;
}
.invoice-preview-wrap .table.info-table th,
.invoice-preview-wrap .table.info-table td {
  padding: 4px;
}
.invoice-preview-wrap .company-logo img {
  max-width: 120px;
  height: auto;
}
.erp-single-transaction-attachment-area .erp-attachment-list li {
  display: inline-block;
}
.erp-single-transaction-attachment-area .erp-attachment-list li img {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  max-width: 150px;
}
.erp-ac-bank-account-wrap .erp-ac-label-bank-balance {
  font-weight: 600;
  font-size: 13px;
  color: #848282;
  margin-left: 8px;
}
.erp-ac-bank-account-wrap .erp-ac-bank-account-number {
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fafafa;
  margin: 20px 0px;
  width: 96%;
}
.erp-ac-receive-payment-table .erp-ac-all-check-th,
.erp-ac-voucher-table-wrap .erp-ac-all-check-th {
  padding: 11px 0px 0px 2px;
}
.erp-ac-receive-payment-table .erp-ac-all-check-th input[type="checkbox"],
.erp-ac-voucher-table-wrap .erp-ac-all-check-th input[type="checkbox"] {
  width: auto;
}
form.erp-form.erp-ac-transaction-form {
  margin-top: 20px;
  background: #f9f9f9;
  padding: 15px;
  border: 1px solid rgba(216, 216, 216, 0.54);
  padding-top: 0;
  margin-bottom: 40px;
}
form.erp-form .block .erp-form-field label {
  float: none;
  display: block;
  margin-bottom: 10px;
}
form.erp-form .erp-form-field label {
  float: left;
  min-width: 150px;
  font-weight: bold;
  vertical-align: top;
  color: #23282d;
  font-size: 14px;
}
.erp-ac-toltip-table {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
.erp-ac-toltip-table td,
.erp-ac-toltip-table th {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 3px;
}
.erp-ac-form-wrap .two-col .erp-form-field {
  width: 28% !important;
}
.erp-ac-form-wrap .two-col .erp-form-field input,
.erp-ac-form-wrap .two-col .erp-form-field select {
  width: 80%;
}
.erp-ac-form-wrap .two-col .erp-form-field .select2-container {
  width: 81% !important;
}
.erp-ac-form-wrap .erp-ac-more-customer {
  text-decoration: none;
  font-size: 11px;
  font-weight: 800;
}
#tiptip_content .erp-ac-toltip-table {
  text-shadow: none;
}
#tiptip_content .erp-ac-toltip-table th,
#tiptip_content .erp-ac-toltip-table td {
  font-size: 10px;
  font-weight: 800;
}
.erp-ac-more-details {
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  margin-left: 1%;
}
.erp-ac-setting-tax-wrap {
  width: 100%;
}
.erp-ac-setting-tax-wrap .erp-ac-new-tax-btn,
.erp-ac-setting-tax-wrap .erp-ac-new-tax-btn:focus,
.erp-ac-setting-tax-wrap .erp-ac-new-tax-btn:active {
  margin-left: 11%;
  top: -34px;
}
.erp-ac-setting-tax-wrap .wp-list-table th {
  padding: 8px 10px;
}
.erp-ac-tax-td-wrap {
  padding: 0 !important;
}
.erp-ac-settings-account-list {
  list-style-type: disc;
}
#erp-ac-tax-popup-content .row {
  margin-bottom: 15px;
}
#erp-ac-tax-popup-content .row input {
  width: 62%;
}
#erp-ac-tax-popup-content .row select {
  width: 100%;
}
#erp-ac-tax-popup-content .erp-ac-multiple-sub-tax-field {
  margin-top: 20px;
}
#erp-ac-tax-popup-content .erp-ac-multiple-sub-tax-field .row input {
  width: 30%;
  margin-right: 15px;
}
#erp-ac-tax-popup-content .erp-ac-multiple-sub-tax-field .row .erp-ac-checkbox {
  width: 14px;
}
#erp-ac-tax-popup-content .fa-times-circle {
  cursor: pointer;
}
.erp-ac-report-tax-date {
  width: 20%;
  padding: 7px 10px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-right: 10px;
}
.erp-ac-tax-report-wrap .erp-ac-tax-report-table th,
.erp-ac-tax-report-wrap .erp-ac-tax-report-table td {
  text-align: center;
  border-left: 1px solid #e1e1e1;
}
.erp-ac-income-satement-wrap .postbox {
  margin-bottom: 0;
  padding-bottom: 0;
}
.erp-ac-income-satement-wrap .postbox .inside {
  margin-bottom: 0;
  padding: 0;
}
.erp-ac-income-satement-wrap .erp-ac-report-income-statement-table {
  width: 100%;
  border-collapse: collapse;
}
.erp-ac-income-satement-wrap .erp-ac-report-income-statement-table tr td a {
  text-decoration: none;
  color: #00a0d2;
}
.erp-ac-income-satement-wrap .erp-ac-report-income-statement-table .erp-ac-odd td {
  padding-top: 7px;
  background: rgba(238, 238, 238, 0.37);
}
.erp-ac-income-satement-wrap .erp-ac-report-income-statement-table .erp-ac-even td {
  border-bottom: 1px solid #eee;
  padding-top: 16px;
  padding-bottom: 13px;
}
.erp-ac-income-satement-wrap .erp-ac-report-income-statement-table tr td:nth-child(2) {
  text-align: right;
  padding-right: 40px;
}
.erp-ac-income-satement-wrap .erp-ac-report-income-statement-table .erp-ac-even-first td {
  padding-top: 9px;
}
.erp-ac-balance-sheet-wrap h1 {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 15px 4px 0;
  line-height: 29px;
}
.erp-ac-balance-sheet-wrap .metabox-holder {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.erp-ac-balance-sheet-wrap .metabox-holder .postbox {
  float: left;
  width: 32%;
  margin: 0px .3% 0 0;
}
.erp-ac-balance-sheet-wrap .metabox-holder .postbox .inside {
  margin: 11px 0px 46px 0;
}
.erp-ac-balance-sheet-wrap .metabox-holder .postbox .erp-ac-total-count {
  width: 93.5%;
  position: absolute;
  background: #fafafa;
  padding: 10px;
  bottom: 0px;
}
.erp-ac-balance-sheet-wrap .metabox-holder .postbox .erp-ac-total-count table {
  width: 100%;
}
.erp-ac-balance-sheet-wrap .metabox-holder .postbox .erp-ac-total-count table td {
  width: 50%;
}
.erp-ac-balance-sheet-wrap .metabox-holder .postbox .erp-ac-total-count table tr > td:last-child {
  text-align: right;
  padding-right: 12px;
}
.erp-ac-balance-sheet-wrap .widefat {
  border: none;
  border-collapse: collapse;
}
.erp-ac-balance-sheet-wrap .widefat tr > td:first-child {
  width: 80%;
}
.erp-ac-balance-sheet-wrap .widefat tr > td:last-child,
.erp-ac-balance-sheet-wrap .widefat tr > th:last-child {
  text-align: right;
}
.erp-ac-balance-sheet-wrap .widefat td,
.erp-ac-balance-sheet-wrap .widefat th {
  border: none;
}
#erp-ac-invoice-send-email input[type="text"],
#erp-ac-invoice-send-email input[type="email"],
#erp-ac-invoice-send-email textarea {
  width: 500px;
  margin-bottom: 10px;
}
.erp-ac-btn-group-wrap {
  background: #fcfcfc;
  border-top: 1px solid #eee;
  margin: 20px -15px -15px -15px;
  padding: 15px;
}
.erp-ac-btn-group-wrap:before,
.erp-ac-btn-group-wrap:after {
  content: " ";
  display: table;
}
.erp-ac-btn-group-wrap:after {
  clear: both;
}
.erp-ac-btn-group-wrap .erp-button-bar-left {
  float: left;
}
.erp-ac-btn-group-wrap .erp-button-bar-right {
  float: right;
}
@media print {
  .erp-grid-container .col-3 {
    width: 50%;
  }
}
