body {
  margin: 60px auto 24px;
  box-shadow: none;
  background: #f1f1f1;
  padding: 0;
}
.erp-logo {
  text-align: center;
  border: none !important;
}
.erp-logo a {
  text-decoration: none;
}
.erp-setup {
  border: none !important;
}
.erp-setup-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  padding: 24px 24px 0;
  background: #fff;
  overflow: hidden;
  zoom: 1;
}
.erp-setup-content h1,
.erp-setup-content h2,
.erp-setup-content h3,
.erp-setup-content table {
  margin: 0 0 24px;
  border: 0;
  padding: 0;
  color: #666;
  clear: none;
}
.erp-setup-content p {
  margin: 0 0 24px;
  font-size: 1em;
  line-height: 1.75em;
  color: #666;
}
.erp-setup-content ul.unstyled {
  list-style: none;
  margin: 0 0 20px 0;
}
.erp-setup-content ul.unstyled li {
  padding-bottom: 10px;
}
.erp-setup-content ul.unstyled li.add-new {
  padding-top: 15px;
}
.erp-setup-content table {
  font-size: 1em;
  line-height: 1.75em;
  color: #666;
}
.erp-setup-content a {
  color: #a16696;
}
.erp-setup-content a:hover,
.erp-setup-content a:focus {
  color: #111;
}
.erp-setup-content .form-table th {
  width: 35%;
  vertical-align: top;
  font-weight: normal;
}
.erp-setup-content .form-table td {
  vertical-align: top;
}
.erp-setup-content .form-table td select,
.erp-setup-content .form-table td input {
  width: 100%;
  box-sizing: border-box;
}
.erp-setup-content .form-table td select {
  border: 1px solid #ccc;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 28px;
  height: 28px;
  font-size: 14px;
}
.erp-setup-content .form-table td input[size] {
  width: auto;
}
.erp-setup-content .form-table td .description {
  line-height: 1.5em;
  display: block;
  margin-top: 0.25em;
  color: #999;
  font-style: italic;
}
.erp-setup-content .form-table td .input-checkbox,
.erp-setup-content .form-table td .input-radio {
  width: auto;
  box-sizing: inherit;
  padding: inherit;
  margin: 0 0.5em 0 0;
  box-shadow: none;
}
.erp-setup-content .form-table .section_title td {
  padding: 0;
}
.erp-setup-content .form-table .section_title td h2,
.erp-setup-content .form-table .section_title td p {
  margin: 12px 0 0;
}
.erp-setup-content .form-table th,
.erp-setup-content .form-table td {
  padding: 12px 0;
  margin: 0;
  border: 0;
}
.erp-setup-content .form-table th:first-child,
.erp-setup-content .form-table td:first-child {
  padding-right: 1em;
}
.erp-setup-content .final-step {
  text-align: center;
}
.erp-setup-content .final-step h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.erp-setup-content .final-step h2 {
  float: left;
  width: 36%;
  text-align: right;
  margin-right: 20px;
}
.erp-setup-content .final-step a {
  float: left;
}
.erp-setup-content .final-step .btn-add-employees {
  margin-right: 10px;
}
.erp-setup-content .two-col {
  overflow: hidden;
  margin: 0 0 24px;
}
.erp-setup-content .two-col::after {
  content: '';
  clear: both;
}
.erp-setup-content .two-col .col-first,
.erp-setup-content .two-col .col-last {
  width: 50%;
  box-sizing: border-box;
  float: left;
}
.erp-setup-content .erp-setup-next-steps {
  overflow: hidden;
  margin: 0 0 24px;
}
.erp-setup-content .erp-setup-next-steps h2 {
  margin-bottom: 12px;
}
.erp-setup-content .erp-setup-actions {
  overflow: hidden;
}
.erp-setup-content .erp-setup-actions .button {
  float: right;
  font-size: 1.25em;
  padding: 0.5em 1em;
  line-height: 1em;
  margin-right: 0.5em;
  height: auto;
}
.erp-setup-content .erp-setup-actions .button-primary {
  float: right;
}
.erp-setup-steps {
  padding: 0 0 24px;
  margin: 0;
  list-style: none outside;
  overflow: hidden;
  color: #ccc;
  width: 100%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.erp-setup-steps li {
  width: 20%;
  float: left;
  padding: 0 0 0.8em;
  margin: 0;
  text-align: center;
  position: relative;
  border-bottom: 4px solid #ccc;
  line-height: 1.4em;
}
.erp-setup-steps li a {
  color: inherit;
  text-decoration: none;
}
.erp-setup-steps li a:focus {
  outline: 0;
  box-shadow: none;
}
.erp-setup-steps li:before {
  content: "";
  border: 4px solid #ccc;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  margin-bottom: -8px;
  background: #fff;
}
.erp-setup-steps li.active {
  border-color: #008ec2;
  color: #008ec2;
}
.erp-setup-steps li.active:before {
  border-color: #008ec2;
}
.erp-setup-steps li:focus {
  outline: 0;
}
.erp-setup-steps li.done {
  border-color: #008ec2;
  color: #008ec2;
}
.erp-setup-steps li.done:before {
  border-color: #008ec2;
  background: #008ec2;
}
.erp-return-to-dashboard {
  font-size: 0.85em;
  color: #b5b5b5;
  margin: 1.18em 0;
  display: block;
  text-align: center;
}
/* Toggle switch */
.form-table {
  /* End toggle switch */
}
.form-table .updated p {
  margin-bottom: 10px;
}
.form-table .switch-input {
  display: none;
}
.form-table .switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 2px 0;
  padding: 0 0 0 44px;
}
.form-table .switch-label:before,
.form-table .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-table .switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.form-table .switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.form-table .switch-label .toggle--on {
  display: none;
}
.form-table .switch-label .toggle--off {
  display: inline-block;
}
.form-table .switch-input:checked + .switch-label:before {
  background-color: #bbdefb;
}
.form-table .switch-input:checked + .switch-label:after {
  background-color: #2196f3;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.form-table .switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.form-table .switch-input:checked + .switch-label .toggle--off {
  display: none;
}
.plugin-install-info {
  display: block;
  text-align: center;
  color: #999;
  line-height: 1.5em;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
.plugin-install-info .plugin-install-info-list-item a {
  font-style: italic;
}
