@import "master.less";

#erp-settings {
    .settings-area {
        display: flex;
        margin: -10px 30px 0px -20px;

        .settings-sidebar {
            flex-basis: 25%;
            min-height: 100vh;
            background-color: #fff;
            border-right: 1px solid #f0f0f1;
            padding-left: 30px;
            margin: -10px 30px 0px -20px;
        }

        .settings-content {
            flex-basis: 90%;
            padding: 0px 45px;

            .search-area {
                display: flex;
                justify-content: flex-end;
                margin-top: 40px;

                svg {
                    position: absolute;
                    margin: 10px 12px 0px 0px;
                }

                .input-searchbar {
                    width: 176px;
                    border-radius: 0px;
                    border: 1px solid #E2E2E2;
                    height: 29px;

                    &::placeholder {
                        color: #CBCBCB;
                        font-size: 12px;
                    }
                }
            }

            .section-title {
                font-size: 24px;
                margin: 10px 0px;
            }

            .sub-section-title {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 50px;
                font-weight: bold;
            }

            .sub-section-description {
                margin-top: -40px;
                margin-bottom: 30px;
            }

            .settings-box {
                padding: 10px;
                background: #ffffff;
                border-radius: 2px;
                margin: 30px 0px 0px 0px;
                padding: 30px;
                border: 1px solid #DFE2E7;
            }
        }

        .settings-navbar {
            h2 {
                font-size: 24px;
                padding: 45px 30px;
            }

            .settings-menu {
                li {

                    &.active,
                    .router-link-active, .router-link-exact-active {
                        background: #f0f0f1;
                        margin-left: -10px;
                        padding-left: 10px;
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 700;
                        padding: 17px 30px;
                        color: #444444;

                        svg {
                            margin-right: 12px;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        i {
                            margin-right: 12px;
                            font-size: 16px;

                            &.icon-general:before {
                                color: #3B80F4;
                            }

                            &.icon-hr:before {
                                color: #8D75F2;
                            }

                            &.icon-crm:before {
                                color: #2CCB67;
                            }

                            &.icon-accounting:before {
                                color: #FF9900;
                            }

                            &.icon-woocommerce:before {
                                color: #8E44AD;
                            }

                            &.icon-email:before {
                                color: #E9485E;
                            }

                            &.icon-integration:before {
                                color: #00BFFF;
                            }
                        }

                    }
                }
            }
        }

        .settings-submenu-navbar {
            margin-top: 40px;

            .settings-sub-menu {
                list-style: none;

                li {
                    display: inline-block;
                    padding: 0px 20px 0px 0px;

                    a {
                        font-size: 14px;
                        color: #27313A;
                        font-weight: 400;
                    }

                    &.active,
                    .router-link-active  {
                        a {
                            padding-bottom: 7px;
                            border-bottom: 2px solid #1A9ED4;
                        }
                    }

                }
            }

        }
    }

    .erp-settings-tooltip {
        position: relative;
        display: inline-block;
        margin-left: 15px;

        .tooltiptext {
            visibility: hidden;
            width: auto;
            min-width: 400px;
            background-color: #f0f0f1;
            color: #24282d;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            top: 100%;
            margin-left: -100px;
            font-weight: normal;
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }

    .erp-form-input-hint {
        font-size: 13px;
        margin-top: 6px;
    }

    .multiselect-custom-arrow {
        position: absolute;
        right: 0;
        padding-right: 18px;
        top: 6px;
    }

    .multiselect__tags input {
        border: none;
        font-size: 14px;
    }

    .multiselect {
        min-height: 26px;
    }

    .multiselect__tags {
        min-height: 26px;
        padding: 5px 37px 0 8px;
        border-radius: 3px;
        border: 2px solid #eff2f7;
    }

    .form-check-label-light {
        font-weight: normal;
        margin-left: 39px;
    }

    .wperp-btn-default {
        background: transparent;
        border: 1px solid #E2E2E2;
        color: #72777C;
    }
    .settings-btn-cancel {
        position: absolute;
        margin-left: 2px;
        margin-top: 6px;
        padding: 2px 6px 0 9px;
        width: 24px;
        font-size: 12px;
        height: 24px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: #e2e2e270;
            color: #d63638;
        }
    }

    .margin-bottom-10 {
        margin-bottom: 10px !important;
    }
}
