#erp-settings {
    .settings-area {
        display: flex;
        margin: -10px 30px 0px -20px;

        .settings-sidebar {
            flex-basis: 25%;
            min-height: 100vh;
            background-color: #fff;
            border-right: 1px solid #f0f0f1;
            padding-left: 30px;
            margin: -10px 30px 0px -20px;
        }

        .settings-content {
            flex-basis: 90%;
        }

        .settings-navbar {
            h2 {
                font-size: 24px;
                padding: 18px 30px;
            }

            .settings-menu {
                li {
                    &.active {
                        background: #f0f0f1;
                        margin-left: -10px;
                        padding-left: 10px;
                    }

                    a {
                        display: block;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 700;
                        padding: 17px 30px 17px 30px;
                    }
                }
            }
        }
    }
}
